<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="src/mine/mine.css">
</head>

<ion-view view-title="我的">
	
	<ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

	<ion-content class="has-header contentBkg">

		<div class="userHeaderBkg" ng-click="toLoginView()">
			<a class="headerThumb" href="#/tab/mine/login">
			</a>
			<!-- <i class="headerThumb" ng-click="wechatLogin()"></i> -->
			<div class="descrp">
				<div class="login">点击登录</div>
				<div class="sub">让办会更简单</div>
			</div>
		</div>

<!-- 		<div class="">
			<button ng-click="wechatLogin()">wechatLogin</button>
		</div>
		<div>
			{{ jsonData }}
		</div> -->

		<div class="list">
			<div class="item item-icon-left">
				<i class="icon ion-ios-world-outline icon-color"></i>
				我的会议
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-heart icon-color"></i>
				我的收藏
			</div>
		</div>

		<div class="list">
			<div class="item item-icon-left">
				<i class="icon ion-ios-chatboxes-outline icon-color"></i>
				产品反馈
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-ios-gear-outline icon-color"></i>
				设置
			</div>
		</div>
	</ion-content>
</ion-view>
</html>