<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <link type="text/css" rel="stylesheet" href="src/news/news.css"> -->
</head>

<ion-view view-title="资讯">

	<div class="slide-tab">
		<input type="radio" name="radio-set" ng-checked="slideIndex == 0 ? 'checked' : ''" ng-click="activeSlide(0)" id="news_slide_0">
		<p>热 点</p>
		<input type="radio" name="radio-set" ng-checked="slideIndex == 1 ? 'checked' : ''" ng-click="activeSlide(1)" id="news_slide_1">
		<p>宝 典</p>
	</div>

	<ion-content class="news_content" delegate-handle＝"news_hot_content" scroll="false" overflow-scroll="ture">

	<ion-slide-box delegate-handle="newsSlider" on-slide-changed="slideChanged(index)" active-slide="slideIndex" ng-if="newsHotDatas" show-pager="false" style="top: 0;bottom: 0;position: absolute !important; width:100%">
		<ion-slide>	
			<ion-content>
				<ion-refresher on-refresh="doRefresh(2)"></ion-refresher>
				<div class="list newsList">
					<a class="item item-thumbnail-left item-text-wrap" href="#/tab/news/detail/{{data.id}}" ng-repeat="data in newsHotDatas">
						<img ng-src="{{ data.thumb }}"/>			
						<h2>{{ data.title }}</h2>
						<p class="news_p">
							<label href="#" class="news_create_time">{{ data.inputtime }}</label>
						</p>
						<label class="copyfrom">{{ data.copyfrom | trim }}</label>
					</a>
				</div>
				<ion-infinite-scroll ng-if="more"
                         		 icon="ion-loading-c"
                         		 on-infinite="loadMoreData(2)"
                         		 distance="10%">
    		</ion-infinite-scroll>

			</ion-content>
		</ion-slide>
		<ion-slide>	
			<ion-content>
				<ion-refresher on-refresh="doRefresh(5)"></ion-refresher>
				<div class="list newsList">
					<a class="item item-thumbnail-left item-text-wrap" href="#/tab/news/detail/{{data.id}}" ng-repeat="data in newsBdDatas">
						<img ng-src="{{ data.thumb }}"/>			
						<h2>{{ data.title }}</h2>
						<p class="news_p">
							<label href="#" class="create_time" style="">{{ data.inputtime }}</label>
							
						</p>
						<label class="copyfrom">{{ data.copyfrom | trim }}</label>
					</a>
				</div>
				<ion-infinite-scroll ng-if="more"
                         		 icon="ion-loading-c"
                         		 on-infinite="loadMoreData(5)"
                         		 distance="10%">
    		</ion-infinite-scroll>
			</ion-content>
		</ion-slide>

	</ion-slide-box>
	</ion-content>
</ion-view>
</html>