

/* .item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
 */
.my-item.item {
  padding-top: 0;
  padding-bottom: 0;
}

.full-width {
  width: 90%;
  margin-left: 3%;
  color:#333;

  border:none;
  border-radius: 5px;
  background: transparent;

  /* text-indent: 10px; */

}

.item-input-wrapper {
  height: 33px;
}