/* Empty. Add your own CSS if you like */

/* .icon_home_on {
   background: url("../images/1.png") no-repeat center top;
   background-size: 32px 32px;
}

.icon_home_off {
  background: url("../images/11.png") no-repeat center top;
  background-size: 32px 32px;
}
 */